<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <title>Admin page</title>
</head>
<body class="bg">
<div class="container-fluid">
    <div class="row">
<!--        <div class="col-md-1 col-sm-1 col-xs-12"></div>-->
        <div class="col-md-4 col-sm-4 col-xs-12">
            <form class="form-container" action="/admin" method="get">
                <h2 style="text-align: center">All users</h2>
                <table th:if="${allUsers != null}" class="table-bordered border" align="center">
                    <thead>
                    <tr  class="table-light">
                        <th>Id</th>
                        <th>Username</th>
                        <th>Roles</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr th:each="user: ${allUsers}" class="table-light">
                            <th th:text="${user.getId()}"/>
                            <th th:text="${user.getUsername()}"/>
                            <th th:text="${user.getRolesToString()}"/>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <form class="form-container" action="/admin" method="get">
                <h2 style="text-align: center">All logs</h2>
                <table th:if="${allLogs != null}" class="table-bordered border" align="center">
                    <thead>
                    <tr  class="table-light">
                        <th>Id</th>
                        <th>User</th>
                        <th>Request</th>
                        <th>Responce</th>
                        <th>Timestamp</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="log: ${allLogs}" class="table-light">
                        <th th:text="${log.getId()}"/>
                        <th th:text="${log.getAuthor().getUsername()}"/>
                        <th th:text="${log.getRequest()}"/>
                        <th th:text="${log.getResponse()}"/>
                        <th th:text="${log.getTimestamp()}"/>
                    </tr>
                    </tbody>
                </table>
            </form>
            <div class="form-group" style="text-align: center">
                <a href="/" class="btn btn-small btn-secondary">Main page</a>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <form action="/admin" method="post" class="form-container">
                <div class="form-group">
                    <label for="username">Show user's logs</label>
                    <input type="text" name="username" id="username" placeholder="Enter username"
                           class="form-control">
                </div>
                <div style="text-align: center">
                    <button type="submit" class="btn btn-small btn-success">Show</button>
                </div>
                <p th:if="${logsMessage != null}" class="alert alert-danger" th:text="${logsMessage}"/>
                <table th:if="${userLogs != null}" class="table-bordered border" align="center">
                    <thead>
                    <tr  class="table-light">
                        <th>Id</th>
                        <th>User</th>
                        <th>Request</th>
                        <th>Responce</th>
                        <th>Timestamp</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="userLog: ${userLogs}" class="table-light">
                        <th th:text="${userLog.getId()}"/>
                        <th th:text="${userLog.getAuthor().getUsername()}"/>
                        <th th:text="${userLog.getRequest()}"/>
                        <th th:text="${userLog.getResponse()}"/>
                        <th th:text="${userLog.getTimestamp()}"/>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
<!--        <div class="col-md-1 col-sm-1 col-xs-12"></div>-->
    </div>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>